
  <nav class="navbar navbar-defaulr">
      <div class="container-fluid headerCl">
        <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav navbar-left" @fade>
                <li routerLinkActive="active"><a routerLink="/ads">Home</a></li>
                <li routerLinkActive="active"><a routerLink="/ads/new">Add new announcement</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right" [@fade]>
              <ng-template [ngIf]="!authService.isAuth()"  >
                <li routerLinkActive="active"><a routerLink="/singup">Sign Up</a></li>
                <li routerLinkActive="active"><a routerLink="/singin">Sign In</a></li>
              </ng-template>
              <ng-template [ngIf]="authService.isAuth()"> 
                <li routerLinkActive="active"><a style="cursor: pointer;" routerLink="/profile">{{authService.user.login}}</a></li>
                <li routerLinkActive="active"><a style="cursor: pointer;" (click)="onLogout()">Logout</a></li>
              </ng-template>
               
            </ul>
        </div>
      </div>
  </nav>