  <div class="row">
    <div class="col-md-3">
      <app-control-filter-ads></app-control-filter-ads>
    </div>
    <div class="col-md-9">
        <div class="row">
            <app-controll-ads></app-controll-ads>
        </div>
        <div class="row">
          <div class="col-xs-12">
            <app-ad-item
              *ngFor="let adsEl of (adsService.ads$ | async); let i = index" 
              [ads]='adsEl'
              [index]='i'></app-ad-item>
          </div>
        </div>
    </div>
  </div>