  <div class="row">
    <div class="col-md-3 main-content">
      <app-control-filter-ads></app-control-filter-ads>
    </div>
    <div class="col-md-9">
        <div class="row">
            <app-controll-ads></app-controll-ads>
        </div>
        <div class="row">
          <div class="col-xs-12">
            <app-ad-item
              *ngFor="let adsEl of (adsService.ads$ | async) | paginate: { itemsPerPage: 5, currentPage: p }; let i = index" 
              [ads]='adsEl'
              [index]='adsEl.id'></app-ad-item>
             <pagination-controls
                (pageChange)="p = ($event)"
                maxSize="9"
                directionLinks="true"
                autoHide="true"
                responsive="true"
                previousLabel="Previous"
                nextLabel="Next"
                screenReaderPaginationLabel="Pagination"
                screenReaderPageLabel="page"
                screenReaderCurrentLabel="You're on page">
            </pagination-controls>
          </div>
        </div>
    </div>
  </div>