  <div class="row">
    <div class="col-md-3 main-content">
      <app-control-filter-ads></app-control-filter-ads>
    </div>
    <div class="col-md-9">
        <div class="row">
          <app-controll-ads></app-controll-ads>
        </div>
        <div class="row">
          <div class="col-xs-12">
            <app-ad-item
              @fade
              *ngFor="let adsEl of ads; let i = index" 
              [ads]='adsEl'
              [index]='adsEl.id'>
            </app-ad-item>
            <ul *ngIf="pager && pager.pages && pager.pages.length" class="pagination">
              <li [ngClass]="{disabled:pager.currentPage === 1}">
                  <a (click)="setPage(1)">First</a>
              </li>
              <li [ngClass]="{disabled:pager.currentPage === 1}">
                  <a (click)="setPage(pager.currentPage - 1)">Previous</a>
              </li>
              <li *ngFor="let page of pager.pages" [ngClass]="{active:pager.currentPage === page}">
                  <a (click)="setPage(page)">{{page}}</a>
              </li>
              <li [ngClass]="{disabled:pager.currentPage === pager.totalPages}">
                  <a (click)="setPage(pager.currentPage + 1)">Next</a>
              </li>
              <li [ngClass]="{disabled:pager.currentPage === pager.totalPages}">
                  <a (click)="setPage(pager.totalPages)">Last</a>
              </li>
          </ul>
          </div>
        </div>
    </div>
  </div>