<div class="container">
    <div class="row">
       <div class="col xs-12">
          <form (change)="filter($event.target.value)">
              <div class="form-group">
                  <div class="custom-control custom-radio">
                    <ng-container  *ngFor="let typeEl of (adsService.types$ | async)">
                        <div>
                            <input type="radio" class="custom-control-input" id={{typeEl.id}} name="defaultExampleRadios"  value={{typeEl.name}}>
                            <label class="custom-control-label" for={{typeEl.id}}>{{ typeEl.name }}</label>
                          </div>
                    </ng-container>
                  </div>        
                </div>
            </form>
            <div class="container">
                <div class="row">
                    <label for="min">Min:</label><br>
                    <input type="text" id="min" [(ngModel)]="minModel" style="width: 100px;" (input)="onPrice()">
                  </div>
                  <div class="row">
                      <label for="max">Max:</label><br> 
                      <input type="text" id="max"  [(ngModel)]="maxModel" style="width: 100px;" (input)="onPrice()">
                  </div>
            </div>
       </div>
      </div>
  </div>