<div class="container">
    <div class="row">
      <span>Email: </span><span> {{ authService.email }}</span>
    </div>
    <div class="row">
        <div class="col-md-4 col-sm-12 col-xs-12 my-col">
            <h3>My ads </h3>
            <ng-container *ngFor = "let ad of authAds let i = index">
                <a routerLink = "/ads/{{ad.id}}" style="cursor: pointer; text-decoration: none; color: #000;" *ngIf="i<3">
                  <div class="other-ads" style="margin-top: 5px;">
                      <img src={{ad.imgs[0].modal}} style="width: 50px">
                      <span style="display: inline-block;">{{ ad.title}}</span>
                      <span style="display: block; font-size: 20px">{{ ad.price }} ГРН.</span>
                  </div>
                </a>
            </ng-container>
        </div>
      </div>
</div>